# Telegram Bot Token
# Obtenha em: https://t.me/BotFather
TELEGRAM_BOT_TOKEN=SEU_TOKEN_AQUI

# Ollama Configuration
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=tinyllama

# Radagast
RADAGAST_CHAT_ID=SEU_CHAT_ID_AQUI
RADAGAST_BOT_TOKEN=SEU_BOT_TOKEN_AQUI
